//Core imports
@import "variables";
@import "mixins";
@import "keyframes";
@import "mainState";
@import "index";
@import "header";


* {
  outline: 1px solid red;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

// alert modal
.alert {
  @include border-radius(10px);
  font : 100% $stdText;
  color: $fontDark;
}

.register {
  @extend .alert;
  border-color: $dmCharcoal;
  padding: 10px;
}
