//Core imports
@import "variables";
@import "mixins";
@import "keyframes";
<<<<<<< edb155bcd03ab7dd7cb3c63cf21d18260907fcdf
@import "mainState";
@import "index";
@import "header";
=======
@import "leftNavArea";
@import "admin";
>>>>>>>  built out several directives, currently working on left Nav bar, the current listed directivesin the left nav area are placeholders, not all of them are working.


* {
  outline: 1px solid red;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

// alert modal
.alert {
  @include border-radius(10px);
  font : 100% $stdText;
  color: $fontDark;
}

.register {
  @extend .alert;
  border-color: $dmCharcoal;
  padding: 10px;
}
.dmLogoTransp {
  height: 50px;
  width: 50px;
  background-image: url("./../media/DMLogoTransparent.png");
  background-size: contain;
}
