// Color Pallete
$dmBlue: "#2AABE2";
$dmBlueHover: "#57BDE8";
$dmBlueActive: "#5BC0DE";
$dmCharcoal: "#444444";
$fbBlue: "#4A629E";

// icon colors
$default: "#bdbdbd";

// Structure
$stdRadius: "3px";

// Fonts
$stdText: "helvetica, sans-serif";
$hdrBoldText: "proxima-nova";
$fontLight: "#bdbdbd";
$fontDark: "black";
