// Color Pallete
$fbBlue: #4A629E;
$dmBlue: #2AABE2;
$dmBlueHover: #57BDE8;
$dmBlueActive: #5BC0DE;
$dmCharcoal: #444444;
$dmDarkCharcoal: #202020;

// icon colors
$default: "#bdbdbd";

// Structure
$stdRadius: 3px;

// Fonts
$stdText: helvetica, sans-serif;
$hdrBold: proxima-nova;
$fontLight: #bdbdbd;
$fontDark: black;
