<div id="mockProfileDir">Mock Profile Directive</div>

<div id="tableView">

    <div class="card">
        <div class="category">
            <div class="categoryTitle">
                Category
                <!--{{category}}-->
            </div>
            <div class="categoryImage">
                <!--{{categoryImage}}-->
            </div>
        </div>
        <div class="sash">



            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>

            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>
            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>

            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>
            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>

            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>
            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>

            <div class="badge">
                <div class="badgeImage">
                    <!--{{badgeImage}}-->
                </div>
                <div class="mileStone">
                    Category Milestone
                    <!--{{milestone}}-->
                </div>
            </div>



        </div>
        <div class="badgePoints">
            <div class="points">
                1000/13000
                <!--{{currentPoints}}/{{possiblePoints}}-->
            </div>
        </div>


        </div90%