<div class="adminWrap">

  <header-dir></header-dir>
  <left-nav-area-dir></left-nav-area-dir>
  <div class="innerFrame">
    <div class="shinyDmLogo">
      <div class="clip-circleOne"></div>
      <div class="circleDiv">
      </div>
      <div class="svgTwo">
      </div>
    </div>
    <div class="adminDirWrap">
      <students-dir ng-if="activeDir.student == true"></students-dir>
      <peantuts-dir></peantuts-dir>
      <pie-dir ng-if="activeDir.pie == true"></pie-dir>
      <popcorn-dir ng-if="activeDir.popcorn == true"></popcorn-dir>
      <popsicles-dir ng-if="activeDir.popsicle == true"></popsicles-dir>
      <poptart-dir ng-if="activeDir.poptart == true"></poptart-dir>

    </div>
  </div>

  <!-- using adminCtlr -->
