<div class="adminWrap">

  <header-dir></header-dir>
  <left-nav-area-dir></left-nav-area-dir>
  <div class="innerFrame">
    <div ng-hide="activeDir.hideLogo" class="shinyDmLogo">
      <div class="clip-circleOne"></div>
      <div class="circleDiv">
      </div>
      <div class="svgTwo">
      </div>
    </div>
    <div class="adminDirWrap">
      <grid-dir></grid-dir>
      <card-admin-dir ng-if="activeDir.cardAdmin == true"></card-admin-dir>
      <badge-admin-dir ng-if="activeDir.badgeAdmin == true"></badge-admin-dir>
      <!-- <poptart-dir ng-if="activeDir.poptart == true"></poptart-dir> -->

    </div>
  </div>

  <!-- using adminCtlr -->
