#headerWrapper {
  color: #bdbdbd;
  width: 100vw;
  background-color: #444444;
  font-size: proxima-nova;
  max-height: 70px; }
  #headerWrapper:active {
    color: #57BDE8; }

#header {
  display: flex;
  position: absolute;
  height: 50px;
  right: 20px;
  padding: 0px;
  max-width: 400px; }

#userPic {
  display: inline-block;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url("./../media/ProfilePlaceholderSuit.png");
  object-fit: contain; }

#userName {
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
  font-size: 1.5em;
  font-family: helvetica, sans-serif; }

.buttons {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: helvetica, sans-serif; }

@keyframes shimmerGold {
  0% {
    background-position: 0% 49%; }
  50% {
    background-position: 100% 52%; }
  100% {
    background-position: 0% 49%; } }

* {
  outline: 1px solid red; }

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.alert, .register {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  font: 100% helvetica, sans-serif;
  color: black; }

.register {
  border-color: #444444;
  padding: 10px; }
