.mainState {
  color: white;
  border: 1px solid #64640a;
  background-color: #0a6464;
  height: 98.5%;
  width: 98.75%; }

html {
  border: 1px solid white;
  background-color: black;
  height: 850px;
  width: 1800px; }

body {
  border: 1px solid white;
  background-color: #323232;
  height: 98.5%;
  width: 98.75%; }

#headerWrapper {
  color: #bdbdbd;
  width: 100vw;
  background-color: #444444;
  font-size: proxima-nova;
  max-height: 70px; }
  #headerWrapper:active {
    color: #57BDE8; }

#header {
  display: flex;
  position: absolute;
  height: 50px;
  right: 20px;
  padding: 0px;
  max-width: 400px; }

#userPic {
  display: inline-block;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url("./../media/ProfilePlaceholderSuit.png");
  object-fit: contain; }

#userName {
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
  font-size: 1.5em;
  font-family: helvetica, sans-serif; }

.buttons {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: helvetica, sans-serif; }
