* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}

body {}

.header {
  width: 100%;
  color: white;
  background-color: #444444;
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  font-family: helvetica;
  vertical-align: middle;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
}

.headerBtn {
  color: black;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  font-family: helvetica;
  font-size: .5em;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: grey;
}

.innerTopWrap {
  padding: 0px 20px;
  border-radius: 3px;
}

.topBodyWrap {
  background-color: grey;
  height: 45vh;
  width: 100vw;
}

.picNameWrap {
  justify-content: center;
  width: 150px;
  height: 200px;
  padding: 5px;
  position: absolute;
  top: 115px;
}

.profilePic {
  border-radius: 3px;
  width: 140px;
  height: 160px;
  background-color: #ececec;
  background-size: contain;
  background-size: cover;
  top: 2px;
}

.name {
  color: black;
  font-family: helvetica;
  font-weight: bold;
  position: relative;
  top: 5px;
  left: 5px;
  width: 130px;
}

.topRightBody {
  width: calc(100vw - 215px);
  height: 240px;
  background-color: #5d5d5d;
  border-radius: 10px;
  top: 20px;
  position: relative;
  left: 170px;
}


/*######## Achievement Icons ########*/

.achievmentWrap {
  position: relative;
  top: 23px;
  left: 23px;
  width: 128px;
  height: 128px;
}




#clipPolygon {
  position: absolute;
  float: left;
  left: 50px;
}

.shimmeringBox {
  -webkit-clip-path: polygon(495px 289px, 459px 186px, 553px 123px, 443px 130px, 407px 33px, 361px 127px, 250px 128px, 335px 194px, 301px 283px, 401px 226px);
  width: 700px;
  height: 1200px;
  left: 0px;
  background-color: transparent;
  border-radius: 10px;
  background: linear-gradient(313deg, #e3ff00, #fffec8, #f9c905);
  background-size: 600% 600%;
  animation: AnimationName 2s ease infinite;

}

@keyframes AnimationName {
  0% {
    background-position: 0% 49%
  }
  50% {
    background-position: 100% 52%
  }
  100% {
    background-position: 0% 49%
  }
}
