* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
outline: 1px solid red;
}

body {

}

.header {
  width: 100%;
  color: white;
  background-color: #444444;
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  font-family: helvetica;
  vertical-align: middle;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: center;
}

.headerBtn {
  color: black;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  font-family: helvetica;
  font-size: .5em;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: grey;
}
.innerTopWrap {
  padding: 0px 20px;
  border-radius: 3px;
}
.topBodyWrap {
  background-color: grey;
  height: 45vh;
  width: 100vw;
}
.picNameWrap {
  justify-content: center;
  width: 150px;
  height: 200px;
  padding: 5px;
  position: absolute;
  top: 115px;

}
.profilePic {
  border-radius: 3px;
  width: 140px;
  height: 160px;
  background-color: #ececec;
  background-size: contain;
  background-size: cover;
  top: 2px;

}
.name {
  color: black;
  font-family: helvetica;
  font-weight: bold;
  position: relative;
  top: 5px;
  left: 5px;
  width: 130px;
}

.topRightBody {
  width: calc(100vw - 215px);
  height: 240px;
  background-color: #5d5d5d;
  border-radius: 10px;
  top: 20px;
  position: relative;
  left: 170px;
}
