<div class="cardAdminWrapper">
  <h1 class="cardHeader">Available Cards</h1>
  <div class="cardsShallBehave">

    <div class="cardsDisplayed" ng-repeat="card in cards">
      {{card.cardKeyOne}}
    </div>
  </div>
</div>


<!-- TODO: style the overflow, hidden scrolling, on hover scroll with some kind of indicator, or maybe a button to scroll down per badge, or group of badges.
The same gos for the available cards list. -->

<!-- TODO: add an modal that would allow the addition of badges by url -->

<!--  -->
<!-- TODO: Take these images in from adminCtrl, through a seperate query, we need to be able to reference a badge image by the id, and wheather or not the student has earned it.

The cards display should show them all as completed icons, querying, or completed so each status can be CRUD controlled.

-->
