<div class="leftNavAreaDirWrap">
  <div class="leftNavArea">
    <p ng-click="toggleDirs('cohorts'); activeData('cohorts')" >Cohorts</p>
    <p ng-click="toggleDirs('student');" >Students</p>
    <!-- <p ng-click="toggleDirs('poptart');" >Mentors</p> -->
    <p ng-click="toggleDirs('cardAdmin'); ">Cards</p>
    <!-- <p ng-click="toggleDirs('poptart'); ">Curriculum</p> -->
    <!-- <p ng-click="toggleDirs('peanut'); ">Achievements</p> -->
    <!-- <p ng-click="toggleDirs('poptart');" >Trophies</p> -->
    <p ng-click="toggleDirs('badgeAdmin');">Badges</p>
  </div>
</div>


<!-- using leftNavAreaCtrl -->
