html {
    border: 1px solid grey;
    background-color: black;
    height: 100%;
    width: 100%;
}
body {
    border: 1px solid white;
    background-color: black;
    height: 99%;
    width: 98.5%;    
}