
#mockProfileDir { color: white; text-align: center; font-size: 500%;
    border: 1px solid rgba(50, 50, 50, 1);
    height: 48.5%;
    width: 98.75%;
    margin: .5%;
}
#tableView { 
    border: 1px solid rgba(100, 100, 100, 1);
    background-color:rgba(1000, 0, 0, .3);    
    height: 48.5%;
    width: 98.75%;
    margin: auto;
    padding: 2.5%;
}
    
.card { color: white; 
    border: 1px solid rgba(1000, 0, 0, 1);
    height: 700px;
    width: 600px; 
    margin: auto;   
    padding: 1%;
}

.category { color: white; font-size: 400%;
    border: 1px solid rgba(1000, 0, 0, .4);
    min-height: 125px; height: 15%;
    width: 100%;
    display: inline-flex;
    margin: auto;    
}

.categoryTitle { color: white; text-align: center; 
    border: 1px solid rgba(1000, 0, 0, .3);
    min-height: 75%; height: 15%;
    width: 75%;
    margin: auto;    
}

.categoryImage { color: white;
    border: 1px solid rgba(1000, 0, 0, .3);
    background-color:rgba(1000, 0, 0, .3);
    height: 100px;
    width: 100px;
    margin: .5%;
       
}

.sash { color: white;
    border: 1px solid rgba(1000, 1000, 0, .5);
    height: 77.5%;
    min-width: 200px; width: 95%;
    margin: auto;
    overflow-y: auto;
}

.badge { color: white;
    border: 1px solid rgba(1000, 1000, 0, .4);
    display: inline-flex;
    min-height: 115px; height: 15%;
    min-width: 100px; width: 100%;
    margin: auto;
}

.badgeImage { color: white;
    border: 1px solid rgba(1000, 1000, 0, .25);
    background-color: rgba(1000, 1000, 0, .25);
    min-height: 100px;
    min-width: 100px;
    margin: .5%;
}

.mileStone { color: white; text-align: center; font-size: 300%;
    border: 1px solid rgba(1000, 1000, 0, .25);
    height: 75%;
    width: 100%;
    margin: .5%;
    padding: .5%;
}
.badgePoints { color: white;
    border: 1px solid rgba(1000, 0, 0, .4);
    width: 100%;
    padding: 2.5%; 
    margin: auto;  
}
.points { color: white;
    border: 1px solid rgba(1000, 0, 0, .3);
    height: 50%;
    width: 50%;
    margin: auto; 
}
