.leftNavAreaDirWrap{
  position: absolute;
  width: 140px;
  padding: 1px;
  height: calc(100vh - 50px);
}

.leftNavArea {
  position: relative;
  padding: 20px;
  top: 20px;
  width: 100px;
  height: 300px;
  background-color: $dmCharcoal;
  color: $fontLight;
}

.lefNavArea p {
  border: 1px solid $dmBlue;
  padding: 2px;
  // width: 100%;
}
